.contactCard {
  position: relative;
  background: #F9FCFE;
  border-radius: 10px;
  padding: 16px 24px;
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 20px;

  &:hover {
    filter: drop-shadow(2px 8px 24px rgba(68, 142, 156, 0.2));
  }

  .user {
    display: flex;
    align-items: flex-end;
    font-weight: 700;
    padding: 10px 0;

    svg {
      font-size: 26px;
      margin-right: 10px;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      display: flex;
      padding: 5px 0;

      .title {
        width: 100px;
        margin-right: 10px;
        font-weight: 700;
      }
    }
  }

  .btns {
    position: absolute;
    right: 24px;
    top: 16px;
    width: 75px;

    button {
      width: 100%;
      font-size: 15px;
      padding: 10px;

      &:first-child {
        margin-bottom: 8px;
      }
    }

    @media screen and (max-width: 800px) {
      width: 50px;
      display: flex;
      justify-content: space-between;
      svg {
        font-size: 20px;
      }
    }
  }
}